$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* {
  all: unset;
}

.layout-box {
  font-family: "Commit Mono", Koulen;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5em;
  color: rgba($surface-fg, 0.8);
}
.net-box label,
.bat-box label,
.tm-box label,
.btns-box button,
.close-btn {
  font-family: "Phosphor";
}

.net-box,
.bat-box,
.tm-box {
  label {
    font-family: "Phosphor";
    font-size: 2em;
  }
}

.close-btn {
  font-family: "Phosphor";
  font-size: 2em;
  &:hover {
    color: $surface-red;
  }
}

.btns-box {
  font-family: "Phosphor";
  font-size: 2.5em;

  button {
    padding: 0.4em;
    border-radius: 0.1em;
    background-color: rgba($surface-darkgrey, 0.3);

    &:hover {
      transition:
        200ms linear background-color,
        border-radius;
      background-color: rgba($surface-lightgrey, 0.6);
    }

    &:first-child {
      color: rgba($surface-red, 0.8);
    }
  }
}

.sep {
  font-size: 1em;
  padding-top: 0.15em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-family: Iosevka;
  font-weight: 400;
}

.sundial-lbl {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.4em;
  padding-bottom: 0.5em;
  font-family: "Commit Mono", "Noto Sans", sans-serif;
}

// vim:ft=scss
