[SddmGreeterTheme]
Name=sakura
Description=sakura
Author=keyitdev
Website=https://github.com/Keyitdev/sddm-astronaut-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.3
ConfigFile=Themes/pixel_sakura.conf
Screenshot=preview.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sakura
Theme-API=2.0
QtVersion=6
