@import "themes/catppuccin-mocha.css";

* {
  font-family: "Symbols Nerd Font", "Noto Sans";
  font-size: 14px;
  font-weight: 600;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#network,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 1rem 0px 0px 1rem;
  margin-right: 0;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 0;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#network {
  color: @teal;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#tray {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
}
